body{
	background-color: black;
}
img{
	height: 15px;
}
h2#page-header{
	text-color: white;
}
ul{
	list-style: none;
	padding-left: 0;
}
div#container{
	width:90%;
	height: auto;
	float: mid;
}
div#c0de, #saas, #shoppin, #news, #sonstiges{ 
	background-color: darkgrey;
	width: auto; 
	height: auto;
	float: left;
	margin: 1%;
}
